In [2]:
import numpy as np
import pygrib
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
import pandas as pd
from scipy.constants import convert_temperature
import pytz
from datetime import datetime
from metpy import calc
from metpy.units import units
import matplotlib as mpl
from meteocalc import dew_point
mpl.rc("savefig", dpi=300)

East lansing ERA5 9km and 30km

In [4]:
df = pd.read_csv('./extracted/East_lansing/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.Temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.Temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/East_lansing/dew_2001-2018_9km.csv')
dew = convert_temperature(df.Dewpoint, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.Dewpoint, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/East_lansing/U_2001-2018_9km.csv')
u = df.U * 2.23694
df = pd.read_csv('./extracted/East_lansing/V_2001-2018_9km.csv')
v = df.V * 2.23694  
df = pd.read_csv('./extracted/East_lansing/prcp_2001-2018_9km.csv')
prcp0 = df.Prcp * 39.3701
df = pd.read_csv('./extracted/East_lansing/solar_2001-2018_9km.csv')
solar0 = df.Solar / 41840.0

In [5]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

In [6]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [7]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [9]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/East_lansing/East_Lansing_9km.csv', index=False)

In [10]:
df = pd.read_csv('./extracted/East_lansing/temp_2001-2018_30km.csv')
Temp = convert_temperature(df.Temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.Temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/East_lansing/prcp_2001-2018_30km.csv')
prcp = df.Prcp * 39.3701
df = pd.read_csv('./extracted/East_lansing/dew_2001-2018_30km.csv')
dew = convert_temperature(df.Dewpoint, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.Dewpoint, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/East_lansing/U_2001-2018_30km.csv')
u = df.U * 2.23694
df = pd.read_csv('./extracted/East_lansing/V_2001-2018_30km.csv')
v = df.V * 2.23694  
df = pd.read_csv('./extracted/East_lansing/solar_2001-2018_30km.csv')
solar = df.Solar / 41840.0

In [11]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [13]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [15]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:6])
out.to_csv('./extracted/East_lansing/East_Lansing_30km.csv', index=False)

GRR EAR5 9km and 30km

In [29]:
df = pd.read_csv('./extracted/GRR/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/GRR/dew_2001-2018_9km.csv')
dew = convert_temperature(df.dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/GRR/u_2001-2018_9km.csv')
u = df.u * 2.23694
df = pd.read_csv('./extracted/GRR/v_2001-2018_9km.csv')
v = df.v * 2.23694  
df = pd.read_csv('./extracted/GRR/prcp_2001-2018_9km.csv')
prcp0 = df.prcp * 39.3701
df = pd.read_csv('./extracted/GRR/solar_2001-2018_9km.csv')
solar0 = df.Solar / 41840.0

In [30]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

In [31]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [32]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [33]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/GRR/GRR_9km.csv', index=False)

In [25]:
df = pd.read_csv('./extracted/GRR/temp_2001-2018_30km.csv')
Temp = convert_temperature(df.temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/GRR/dew_2001-2018_30km.csv')
dew = convert_temperature(df.dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/GRR/u_2001-2018_30km.csv')
u = df.u * 2.23694
df = pd.read_csv('./extracted/GRR/v_2001-2018_30km.csv')
v = df.v * 2.23694  
df = pd.read_csv('./extracted/GRR/prcp_2001-2018_30km.csv')
prcp0 = df.prcp * 39.3701
df = pd.read_csv('./extracted/GRR/solar_2001-2018_30km.csv')
solar0 = df.solar / 41840.0

In [26]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [27]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [28]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:6])
out.to_csv('./extracted/GRR/GRR_30km.csv', index=False)

Gaylord ERA5 9km and 30km

In [34]:
df = pd.read_csv('./extracted/Gaylord/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/Gaylord/dew_2001-2018_9km.csv')
dew = convert_temperature(df.dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/Gaylord/u_2001-2018_9km.csv')
u = df.u * 2.23694
df = pd.read_csv('./extracted/Gaylord/v_2001-2018_9km.csv')
v = df.v * 2.23694  
df = pd.read_csv('./extracted/Gaylord/prcp_2001-2018_9km.csv')
prcp0 = df.prcp * 39.3701
df = pd.read_csv('./extracted/Gaylord/solar_2001-2018_9km.csv')
solar0 = df.solar / 41840.0

In [35]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

In [36]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [37]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [38]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/Gaylord/Gaylord_9km.csv', index=False)

In [39]:
df = pd.read_csv('./extracted/Gaylord/temp_2001-2018_30km.csv')
Temp = convert_temperature(df.temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/Gaylord/dew_2001-2018_30km.csv')
dew = convert_temperature(df.dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/Gaylord/u_2001-2018_30km.csv')
u = df.u * 2.23694
df = pd.read_csv('./extracted/Gaylord/v_2001-2018_30km.csv')
v = df.v * 2.23694  
df = pd.read_csv('./extracted/Gaylord/prcp_2001-2018_30km.csv')
prcp0 = df.prcp * 39.3701
df = pd.read_csv('./extracted/Gaylord/solar_2001-2018_30km.csv')
solar0 = df.solar / 41840.0

In [40]:
rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [41]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [42]:
out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:6])
out.to_csv('./extracted/Gaylord/Gaylord_30km.csv', index=False)

East Leland ERA5 9km

In [8]:
df = pd.read_csv('./extracted/East_Leland/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.Temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.Temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/East_Leland/dew_2001-2018_9km.csv')
dew = convert_temperature(df.Dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.Dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/East_Leland/U_2001-2018_9km.csv')
u = df.U * 2.23694
df = pd.read_csv('./extracted/East_Leland/V_2001-2018_9km.csv')
v = df.V * 2.23694  
df = pd.read_csv('./extracted/East_Leland/prcp_2001-2018_9km.csv')
prcp0 = df.Prcp * 39.3701
df = pd.read_csv('./extracted/East_Leland/solar_2001-2018_9km.csv')
solar0 = df.Solar / 41840.0

In [10]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [11]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/East_Leland/East_Leland_9km.csv', index=False)

South Haven ERA5 9km

In [12]:
df = pd.read_csv('./extracted/South_Haven/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.Temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.Temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/South_Haven/dew_2001-2018_9km.csv')
dew = convert_temperature(df.Dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.Dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/South_Haven/U_2001-2018_9km.csv')
u = df.U * 2.23694
df = pd.read_csv('./extracted/South_Haven/V_2001-2018_9km.csv')
v = df.V * 2.23694  
df = pd.read_csv('./extracted/South_Haven/prcp_2001-2018_9km.csv')
prcp0 = df.Prcp * 39.3701
df = pd.read_csv('./extracted/South_Haven/solar_2001-2018_9km.csv')
solar0 = df.solar / 41840.0

In [13]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [14]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/South_Haven/South_Haven_9km.csv', index=False)

TVC ERA5 9km

In [15]:
df = pd.read_csv('./extracted/TVC/temp_2001-2018_9km.csv')
Temp = convert_temperature(df.Temp, 'Kelvin', 'Fahrenheit')
temp = convert_temperature(df.Temp, 'Kelvin', 'Celsius')
df = pd.read_csv('./extracted/TVC/dew_2001-2018_9km.csv')
dew = convert_temperature(df.Dew, 'Kelvin', 'Celsius')
Dew = convert_temperature(df.Dew, 'Kelvin', 'Fahrenheit')
df = pd.read_csv('./extracted/TVC/U_2001-2018_9km.csv')
u = df.U * 2.23694
df = pd.read_csv('./extracted/TVC/V_2001-2018_9km.csv')
v = df.V * 2.23694  
df = pd.read_csv('./extracted/TVC/prcp_2001-2018_9km.csv')
prcp0 = df.Prcp * 39.3701
df = pd.read_csv('./extracted/TVC/solar_2001-2018_9km.csv')
solar0 = df.Solar / 41840.0

In [16]:
prcp = 1*prcp0
solar = 1*solar0
for i in range(6574-1):
    prcp[(i*24+1):((i+1)*24)] = np.array(prcp0[(i*24+1):((i+1)*24)]) - np.array(prcp0[(i*24):((i+1)*24-1)])
    solar[(i*24+1):((i+1)*24)] = np.array(solar0[(i*24+1):((i+1)*24)]) - np.array(solar0[(i*24):((i+1)*24-1)])
    
i = 6573
prcp[(i*24+1):((i+1)*24-1)] = np.array(prcp0[(i*24+1):((i+1)*24-1)]) - np.array(prcp0[(i*24):((i+1)*24-2)])
solar[(i*24+1):((i+1)*24-1)] = np.array(solar0[(i*24+1):((i+1)*24-1)]) - np.array(solar0[(i*24):((i+1)*24-2)])

rh = np.array([calc.relative_humidity_from_dewpoint(units.Quantity(temp, 'celsius'), units.Quantity(dew, 'celsius'))])[0,:]
wind = np.sqrt(u**2 + v**2)

In [17]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[1:-1].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

out = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':Temp, 'pcpn':prcp, 'relh':rh*100, 'srad':solar, 'wspd':wind, 'dew':Dew})
out = out.drop(out.index[0:5])
out.to_csv('./extracted/TVC/TVC_9km.csv', index=False)

calculate observational dewpoints

In [ ]:
# correct hourly data
df1 = pd.read_csv('./observation/East Lansing Hourly.csv')
df1 = df1.drop(df1.index[157770:])
df1 = df1.astype(float)
df1.relh = np.where(df1.relh[:]<=100.0, df1.relh[:], 100.0)
df1 = pd.DataFrame({'YEAR':df1.YEAR, 'MONTH':df1.MONTH, 'DAY':df1.DAY, 'HOUR':df1.HOUR, 'atmp':df1.atmp, 'pcpn':df1.pcpn, 'relh':df1.relh, 'wspd':df1.wspd,'srad':df1.srad})

temp_ob_c = convert_temperature(df1.atmp, 'Fahrenheit', 'Celsius')
dew_ob = np.zeros(157770)
for i in range(len(dew_ob)):
    dew_ob[i] = convert_temperature(float(str(dew_point(temp_ob_c[i], df1.relh[i]))), 'Celsius','Fahrenheit')
df1['dew'] = dew_ob
df1.to_csv('./observation/East Lansing Hourly_crc.csv', index=False)


# correct 5 min data
df1 = pd.read_csv('./observation/East Lansing 5 min.csv')
df1 = df1.drop(df1.index[157770:])
df1 = df1.astype(float)
df1.relh = np.where(df1.relh[:]<=100.0, df1.relh[:], 100.0)
df1 = pd.DataFrame({'YEAR':df1.YEAR, 'MONTH':df1.MONTH, 'DAY':df1.DAY, 'HOUR':df1.HOUR, 'atmp':df1.atmp, 'pcpn':df1.pcpn, 'relh':df1.relh, 'wspd':df1.wspd,'srad':df1.srad})

temp_ob_c = convert_temperature(df1.atmp, 'Fahrenheit', 'Celsius')
dew_ob = np.zeros(157770)
for i in range(len(dew_ob)):
    dew_ob[i] = convert_temperature(float(str(dew_point(temp_ob_c[i], df1.relh[i]))), 'Celsius','Fahrenheit')
df1['dew'] = dew_ob
df1.to_csv('./observation/East Lansing 5 min_crc.csv', index=False)

correct GRR 5 min data

In [95]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[6:-20].tz_localize(pytz.utc).tz_convert(eastern)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')
dff = dff.tz_localize(None)

In [42]:
# flag = np.logical_or(df1.valid.str[-2:] == '56', df1.valid.str[-2:] == '53')
# a = df1[flag]
# a.index = pd.to_datetime(a.valid.to_list()).round('60min')
# c = a.reset_index().groupby('index').max()  ##remove duplicated, applicable here
# d = c.reindex(dff)
# d = d.replace('M', np.nan, regex=True)

In [93]:
df1 = pd.read_csv('./observation/ASOS Grand Rapids_crc.csv')
df1 = df1.replace('M', np.nan, regex=True)
df1.to_csv('./observation/ASOS Grand Rapids_crc.csv')

In [107]:
df = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':df1.tmpf, 'relh':df1.relh, 'wspd':df1['sped(mph)']})
df.atmp = df.atmp.astype(float)
df.relh = df.relh.astype(float)
temp_ob_c = convert_temperature(df.atmp, 'Fahrenheit', 'Celsius')
dew_ob = np.zeros(157751)
for i in range(len(dew_ob)):
    dew_ob[i] = convert_temperature(float(str(dew_point(temp_ob_c[i], df.relh[i]))), 'Celsius','Fahrenheit')
df['dew'] = dew_ob
df.to_csv('./observation/ASOS Grand Rapids_crc.csv', index=False)

In [15]:
#add prcp
df1 = pd.read_csv('./observation/ASOS Grand Rapids_crc.csv')
df2 = pd.read_csv('ASOS Grand Rapids_crc.csv')
pcpn = df2.p01in.replace('T', 0, regex=True).replace('M', np.nan, regex=True).astype('float')
df1['pcpn'] = pcpn
df1.to_csv('./observation/ASOS Grand Rapids_crc_1.csv', index=False)

Correct Gaylord data

In [4]:
df2 = pd.read_csv('./observation/CRNH0203-2007-2018-MI_Gaylord_9_SSW.csv',header=None)

In [5]:
df2

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,54854,20070919,2300,20070919,1800,1.302,-84.72,44.91,-9999.0,-9999.0,...,-99.0,-99.0,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,54854,20070920,0,20070919,1900,1.302,-84.72,44.91,18.0,18.8,...,-99.0,-99.0,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,54854,20070920,100,20070919,2000,1.302,-84.72,44.91,15.8,16.7,...,-99.0,-99.0,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,54854,20070920,200,20070919,2100,1.302,-84.72,44.91,14.8,15.3,...,-99.0,-99.0,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,54854,20070920,300,20070919,2200,1.302,-84.72,44.91,14.6,14.5,...,-99.0,-99.0,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98901,54854,20181231,2000,20181231,1500,2.622,-84.72,44.91,-1.9,-1.9,...,-99.0,-99.0,0.148,0.137,0.182,-0.1,0.2,0.6,1.7,3.8
98902,54854,20181231,2100,20181231,1600,2.622,-84.72,44.91,-1.9,-1.9,...,-99.0,-99.0,0.148,0.137,0.182,-0.1,0.2,0.6,1.7,3.9
98903,54854,20181231,2200,20181231,1700,2.622,-84.72,44.91,-2.0,-2.0,...,-99.0,-99.0,0.148,0.137,0.182,-0.1,0.2,0.6,1.7,3.8
98904,54854,20181231,2300,20181231,1800,2.622,-84.72,44.91,-2.2,-2.1,...,-99.0,-99.0,0.148,0.137,0.182,-0.1,0.2,0.6,1.7,3.9
98905,54854,20190101,0,20181231,1900,2.622,-84.72,44.91,-2.4,-2.4,...,-99.0,-99.0,0.148,0.137,0.181,-0.1,0.2,0.6,1.7,3.9

In [11]:
LST_date = df2.iloc[:,3].values
year = [int(str(LST_date[i])[:4]) for i in range(len(LST_date))]
mon = [int(str(LST_date[i])[4:6]) for i in range(len(LST_date))]
day = [int(str(LST_date[i])[6:]) for i in range(len(LST_date))]
LST_time = df2.iloc[:,4].values
hour = [int(LST_time[i]/100) for i in range(len(LST_time))]
atmp = df2.iloc[:,8].values
atmp_avg = df2.iloc[:,9].values
pcpn = df2.iloc[:,12].values
srad = df2.iloc[:,13].values
relh = df2.iloc[:,26].values
atmp_avg = np.where(atmp_avg<-1000, np.nan, atmp_avg)
atmp = np.where(atmp<-1000, np.nan, atmp)
pcpn = np.where(pcpn<-1000, np.nan, pcpn)
relh = np.where(relh<-1000, np.nan, relh)

In [13]:
dew_ob = np.zeros(98906)
for i in range(len(dew_ob)):
    dew_ob[i] = convert_temperature(float(str(dew_point(atmp_avg[i], relh[i]))), 'Celsius','Fahrenheit')

atmp = convert_temperature(atmp, 'Celsius', 'Fahrenheit')
pcpn = pcpn * 0.0393701
df = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':atmp, 'relh':relh, 'srad':srad,'pcpn':pcpn, 'dew':dew_ob})
df.to_csv('./observation/CRNH0203-2007-2018-MI_Gaylord_9_SSW_crc.csv', index=False)

East Leland, South Haven and TVC

In [37]:
df1 = pd.read_csv('./observation/ASOS Traverse City.csv')
df1 = df1.replace('M', np.nan, regex=True)
flag = np.logical_or(df1.valid.str[-2:] == '56', df1.valid.str[-2:] == '53')
a = df1[flag]
a.index = pd.to_datetime(a.valid.to_list()).round('60min')
c = a.reset_index().groupby('index').max()  ##remove duplicated, applicable here
c.to_csv('./observation/ASOS Traverse City_crc.csv')

In [79]:
df = pd.read_csv('observation/ASOS Traverse City_crc_id.csv')
df = df.set_index('index')
df.index = pd.to_datetime(df.index)

In [80]:
df

                    station             valid   tmpf   dwpf   relh  sped(mph)
index
2001-01-01 02:00:00     TVC     1/1/2001 1:53  21.02  17.96  87.75       6.90
2001-01-01 03:00:00     TVC     1/1/2001 2:53  21.92  17.96  84.47       0.00
2001-01-01 04:00:00     TVC     1/1/2001 3:53  21.92  17.96  84.47       3.45
2001-01-01 05:00:00     TVC     1/1/2001 4:53  24.08  17.06  74.20      10.35
2001-01-01 06:00:00     TVC     1/1/2001 5:53  23.00  17.06  77.64      13.80
...                     ...               ...    ...    ...    ...        ...
2018-12-30 20:00:00     TVC  12/30/2018 19:53  30.90  23.00  72.18       6.90
2018-12-30 21:00:00     TVC  12/30/2018 20:53  30.90  23.00  72.18       0.00
2018-12-30 22:00:00     TVC  12/30/2018 21:53  28.90  21.90  74.76       0.00
2018-12-30 23:00:00     TVC  12/30/2018 22:53  30.00  23.00  74.87       3.45
2018-12-31 00:00:00     TVC  12/30/2018 23:53  30.00  21.90  71.48       5.75

[152937 rows x 6 columns]

In [83]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/2001', end='1/1/2019', freq='H')[6:-19].tz_localize(pytz.utc)
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')
# dff = dff.tz_localize(None)

In [84]:
df.index = df.index.tz_localize('UTC')
df = df.reset_index().groupby('index').max() 
df = df.reindex(dff)
df.index = df.index.tz_convert('US/Eastern').tz_localize(None)

<font color=blue size=4> case examination

In [48]:
df = pd.read_csv('./extracted/case/l_temp_1979-2018_30km.csv')
tl = df.Temp
df = pd.read_csv('./extracted/case/r_temp_1979-2018_30km.csv')
tr = df.Temp
df = pd.read_csv('./extracted/case/l_u_1979-2018_30km.csv')
ul = df.U
df = pd.read_csv('./extracted/case/r_u_1979-2018_30km.csv')
ur = df.U
df = pd.read_csv('./extracted/case/l_v_1979-2018_30km.csv')
vl = df.V
df = pd.read_csv('./extracted/case/r_v_1979-2018_30km.csv')
vr = df.V
wl = np.sqrt(ul**2 + vl**2)
wr = np.sqrt(ur**2 + vr**2)
wdl = np.array(calc.wind_direction(units.Quantity(ul, 'm/s'), units.Quantity(vl, 'm/s')))
wdr = np.array(calc.wind_direction(units.Quantity(ur, 'm/s'), units.Quantity(vr, 'm/s')))

In [45]:
eastern = pytz.timezone('US/Eastern')
dff = pd.date_range(start='1/1/1979', end='1/1/2019', freq='H')[1:]
year = dff.strftime('%Y')
mon = dff.strftime('%-m')
day = dff.strftime('%-d')
hour = dff.strftime('%-H')

In [50]:
dfl = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour,'atmp(K)':tl, 'wspd(m/s)':wl, 'wdir(degree)':wdl})
dfl.to_csv('./summary/ERA5_30km_42.5N_87.75W.csv')
dfl

        YEAR MONTH DAY HOUR     atmp(K)  wspd(m/s)  wdir(degree)
0       1979     1   1    1  272.948746  13.815590     15.529057
1       1979     1   1    2  272.817047  13.302145     11.095864
2       1979     1   1    3  272.733124  13.255076      8.377726
3       1979     1   1    4  272.555740  12.955476      6.352421
4       1979     1   1    5  272.291214  12.330574    357.551997
...      ...   ...  ..  ...         ...        ...           ...
350635  2018    12  31   20  276.082321   6.381140     44.811183
350636  2018    12  31   21  276.128586   6.467561     46.160187
350637  2018    12  31   22  276.123611  10.557261     61.452208
350638  2018    12  31   23  276.283112   8.067330     37.039780
350639  2019     1   1    0  276.218292   8.249933      4.058210

[350640 rows x 7 columns]

In [51]:
dfr = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour,'atmp(K)':tr, 'wspd(m/s)':wr, 'wdir(degree)':wdr})
dfr.to_csv('./summary/ERA5_30km_42.5N_88.0W.csv')
dfr

        YEAR MONTH DAY HOUR     atmp(K)  wspd(m/s)  wdir(degree)
0       1979     1   1    1  268.384293   6.740312      0.585896
1       1979     1   1    2  267.947906   5.989018    353.619410
2       1979     1   1    3  267.457733   6.127170    350.454990
3       1979     1   1    4  265.153397   5.816309    345.490878
4       1979     1   1    5  265.267776   5.617587    338.360256
...      ...   ...  ..  ...         ...        ...           ...
350635  2018    12  31   20  275.406540   3.509192     52.195703
350636  2018    12  31   21  275.487961   4.104216     50.606323
350637  2018    12  31   22  275.707596   5.519283     60.752910
350638  2018    12  31   23  275.439362   4.274891     15.803223
350639  2019     1   1    0  275.126495   4.379615    353.597004

[350640 rows x 7 columns]

<font color=blue size=4>change tvc data

In [16]:
df_tvc = pd.read_csv('observation/ASOS Traverse City_crc_id.csv')
df_tvc['index'] = pd.to_datetime(df_tvc['index'])
dff = df_tvc['index']
year = list(pd.DatetimeIndex(dff).year)
mon = list(pd.DatetimeIndex(dff).month)
day = list(pd.DatetimeIndex(dff).day)
hour = list(pd.DatetimeIndex(dff).hour)
index = []
for i in range(len(year)):
    index.append(str(year[i])+'-'+str(mon[i])+'-'+str(day[i])+'-'+str(hour[i]))
    
df_tvc = pd.DataFrame({'index':index, 'atmp':df_tvc.tmpf, 'relh':df_tvc.relh, 'dew':df_tvc.dwpf, 'wspd':df_tvc['sped(mph)']})
df_tvc = df_tvc[:-1]
df_tvc
df_tvc = df_tvc.set_index('index')

In [17]:
df_tvc

                atmp   relh    dew   wspd
index
2001-1-1-2     21.02  87.75  17.96   6.90
2001-1-1-3     21.92  84.47  17.96   0.00
2001-1-1-4     21.92  84.47  17.96   3.45
2001-1-1-5     24.08  74.20  17.06  10.35
2001-1-1-6     23.00  77.64  17.06  13.80
...              ...    ...    ...    ...
2018-12-30-17  35.10  53.49  19.90  10.35
2018-12-30-20  30.90  72.18  23.00   6.90
2018-12-30-21  30.90  72.18  23.00   0.00
2018-12-30-22  28.90  74.76  21.90   0.00
2018-12-30-23  30.00  74.87  23.00   3.45

[152936 rows x 4 columns]

In [18]:
era_tvc = pd.read_csv('extracted/TVC/TVC_9km.csv')[:-19]
index = []
for i in range(len(era_tvc.YEAR)):
    index.append(str(era_tvc.YEAR[i])+'-'+str(era_tvc.MONTH[i])+'-'+str(era_tvc.DAY[i])+'-'+str(era_tvc.HOUR[i]))
    
# index

In [19]:
a = df_tvc.reset_index().groupby('index').max()
b = a.reindex(index)

In [24]:
year = []
mon = []
day = []
hour = []
for i in range(len(b.index)):
    tempe = b.index[i].split('-')
    year.append(tempe[0])
    mon.append(tempe[1])
    day.append(tempe[2])
    hour.append(tempe[3])
    
c = pd.DataFrame({'YEAR':year, 'MONTH':mon, 'DAY':day, 'HOUR':hour, 'atmp':b.atmp,'dew':b.dew, 'relh':b.relh,'wspd':b.wspd})

In [25]:
c.to_csv('./observation/ASOS Traverse City_crc_1.csv',index=False)